.intro {
   position:absolute;
   bottom:1em;
   margin-left:4em;
}
#collapseIntro {
   position:absolute;
   bottom:4em;
   margin-left:4em;
}
.overlay {
    /*position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;*/
}

.overlay .btn {
    pointer-events: initial;
}

.sharpbtn {
  border-radius:0;
}

.leaflet-popup-tip {
    background: #2c3e50;
}
.leaflet-popup-content-wrapper {
    background: #2c3e50;
    color: white;
}

.leaflet-popup-content {
    color: white;
}
.leaflet-popup-content a {
    color: #ff8f8f;
}